
/* .App-logo {
  height: 10vh;
  pointer-events: none;
  size: 10vh;
} */


.App-header {
  text-align: center;
  background-color: #000000;
  min-height: 20%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  
  margin: 0;
}

/* .App-link {
  color: #61dafb;
} */
.App-footer {
  background-color: #000000;
  min-height: 5%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  bottom: 0;
  margin: 0;

}

.footer-text {
  text-align: left;
}

.Page-background {
  background-color: #209bd7;
  min-height: 100vh;
  background-size: cover;
  
  margin: 0%;
  padding: 0%;
}

.header-buttons {
  margin: 5px;
  background-color: #209bd7;
  border: 2px solid gray;
  
  border-radius: 10px;
  font-size: 25px;
  width: 100px;
  text-align: center;
  transition: .2s ease;
}

.header-buttons:hover{
  transform: rotate(15deg);
  
  cursor: pointer;
}





