

/* .App-logo {
  height: 10vh;
  pointer-events: none;
  size: 10vh;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.header {
  text-align: center;
  background-color: #000000;
  min-height: 20%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* .App-link {
  color: #61dafb;
} */
.footer {
  background-color: #000000;
  min-height: 5%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  /* position: sticky; */
  bottom: 0;
  margin: 0;
  position: relative;
  z-index: 1;

}

.footer-text {
  text-align: left;
}

.footer-icon {
    align-content: right;
    text-align: right;
    height: 45px;
    width: 45px;
    right: 20px;
    
}



.header-buttons {
  margin: 5px;
  background-color: #209bd7;
  border: 2px solid gray;
  margin-bottom: 16px;
  border-radius: 10px;
  font-size: 25px;
  width: 100px;
  text-align: center;
  transition: .2s ease;
}

.header-buttons:hover{
  transform: rotate(15deg);
  
  cursor: pointer;
}

.static-background {
  position: fixed;
}



.page-background {
  background-color: #209ad7f1;
  min-height: 100vh;
  background-size: cover;
  
  margin: 0;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  position: relative;
  z-index: 0;
}


.page-container {
  opacity: 100% !important;

}


