import App.css

.page-background {
    background-color: #209bd7;
    min-height: 100vh;
    background-size: cover;
    
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
  }
  